<%- include('../partials/header') %>

  <% gamenights.forEach((g)=> { %>
    <a href="/gamenights/<%= g._id %>" class="card">
      <div class="card-content">

        <%= g.eventName %>
          <%= g.address %>
            <%= g.gameType %>
              <%= g.owner.name %>


      </div>
    </a>
    <% }) %>

      <%- include('../partials/footer') %>