<%- include('../partials/header') %>

  <div class="show-container">

    <div class="signup-bar">

      <div class="signup-left">
        <p class="event-name">
          <%= gamenight.eventName %>
        </p>
        <p class="game-players">
          <span style="color: #B6B6B6
        ">
            <i class="fa-solid fa-user"></i>
          </span>
          <%= gamenight.players.length %>
        </p>
      </div>

      <form action="/gamenights/<%= gamenight.id %>/signups" method="POST">
        <button type="submit" class="sign-up-btn">Sign Up</button>
      </form>


    </div>

    <hr class="divider">

    <div class="about-sec">
      <h3>About</h3>
      <p>
        <%= gamenight.eventDescription %>
      </p>
    </div>

    <hr class="divider">

    <div class="location-sec">

      <div class="location-left">
        <h3>Address</h3>

        <% if (user?._id.equals(gamenight.owner) && gamenight.address.length===0) { %>
          <form action="/gamenights/<%= gamenight.id %>/geocode" method="POST">
            <input type="text" name="address" placeholder="Address">
            <button type="submit">Add Address</button>
          </form>
          <% } %>

            <% if (gamenight.address.length) { %>
              <p>
                <%= gamenight.address %>
              </p>
      </div>
      <img alt='static Mapbox map of the <%= gamenight.eventName %> GameNight'
        src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+ff2600(<%= gamenight.coordinates[0] %>,<%= gamenight.coordinates[1] %>)/<%= gamenight.coordinates[0] %>,<%= gamenight.coordinates[1] %>,14,0.00,0.00/300x200@2x?access_token=<%= geoApi %>'
        class="Mapbox">

      <% } %>

    </div>

    <% if (user) { %>

      <hr class="divider">

      <h2>The Party</h2>

      <% if (gamenight.players.length) { %>

        <% gamenight.players.forEach((p)=> { %>
          <div class="badge">
            <%= p.userName %>
          </div>
          <% }); %>
            <% } %>

              <h2>Party Chat</h2>
              <form id="add-comment-form" method="POST" action="/gamenights/<%= gamenight.id %>/comments">
                <textarea name="content"></textarea>
                <input type="submit" value="Add Comment">
              </form>

              <% comments.forEach((comment)=> { %>
                <div class="comment">
                  <img src="<%= comment.userAvatar %>" alt="Avatar">
                  <p>
                    <%= comment.content %>
                  </p>
                  <div class="comment-right">
                    <h5>
                      <%= comment.userName %>
                    </h5>
                    <h5>
                      <%= comment.createdAt.toLocaleString().slice(10, 21) %>
                    </h5>
                  </div>
                </div>
                <% }) %>
                  <% } %>
  </div>

  <%- include('../partials/footer') %>